:root{
  --main-nav-color:#1ea2ca;
}

body {
    background-image:url('/static/img/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #4d4d4d;

    /* display: flex; */
    /* height: 90vh; */
    margin-top: 5rem;
    
    /* justify-content: center;
    align-items: center; */
    /* margin-top:1rem; */
    /* height: calc(100vh - 1rem); */
    /* height: calc(100vh); */
    /* width: auto; */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #1ea2ca;
    box-shadow: 0 8px 6px -9px rgba(10, 10, 10, 0.322);
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
    /* border:1px solid red; */
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #000000;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
a.navbar-brand{
  color:red;
}

.navbar-dark .navbar-brand {
    color: rgb(247, 251, 255);
}



  .article-title {
    color: #444444;
 
  }
  
  a.article-title:hover {
    color:var();
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
 
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }